{% extends 'base.html'%}
{% load static %}

{% block title %} | Dashboard {% endblock %}

{% block content %}

{% url 'home' as home_url %}
{% url 'account:login' as login_url %}
{% url 'travel:home' as home_url %}
{% url 'logout' as logout_url %}
{% url 'travel:add_trip' as add_trip_url %}

{% include 'partials/navbar.html' %}
<div class="container" style="color: white;">

  <div class="row">

    <div class="col-md-6">
      <div class="this_destination">
        <h2>Destination: {{ destination.location }}</h2>
        <hr>
        <h5>Planned By: {{ destination.first_name }}</h5>
        <h5>Plan: {{ destination.description }}</h5>
        <h5>From: {{ destination.start_date }}</h5>
        <h5>To: {{ destination.end_date }}</h5>
        <form id="ratingForm" method="post" action="{% url 'travel:update_rating' destination.id %}">
          {% csrf_token %}
         <h5> <label for="id_rating">Update Rating:</label>
          <input type="number" name="rating" id="id_rating" min="0" max="5" step="1" value="{{ destination.rating }}"> </h5>
          <input type="submit" value="Submit Rating">
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="others_this_destination">
        <h2>Accompanying Travelers:</h2>
        <hr>
        {% for user in other_users_trips  %}
        <h5>{{ Sriram }}</h5>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
